<!-- About Section -->

<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I've published 2 papers as part of my masters degree pursuit.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://media.licdn.com/dms/document/media/D562DAQEZj2X9pqpzqw/profile-treasury-document-pdf-analyzed/0/1698763800889?e=1699488000&v=beta&t=wb4_usxydj1XMxBpmmkWhRVhZfyWtmoQf5ev9cuN2uc" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download 1st Research Paper
        </a>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://media.licdn.com/dms/document/media/D562DAQHzfZbG1C6mjQ/profile-treasury-document-pdf-analyzed/0/1698763959238?e=1699488000&v=beta&t=oUfZ4dv1GiFB7wBNL-JyF4W3T9yCbnQiW1Nrv8qHBqE" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download 2nd Research Paper
        </a>
      </div>

    </div>
  </div>
</section>
