<!-- About Section -->

<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I've published 2 papers as part of my masters degree pursuit. Both of them were focused on Capsule Network's capability on practical applications.
      </div>
      <div class="col-lg-4">
        <p>I learn machine learning algorithms by deriving them mathematically and implementing them with the use of minimal libraries. Some of my works are  <a href="https://github.com/Ugenteraan/Kalman-Filter-Scratch/blob/master/Kalman_Filter.pdf"> Kalman Filter</a>, <a href="https://github.com/Ugenteraan/Principal-Component-Analysis-Scratch/blob/master/Principal_Component_Analysis.pdf"> Principal Component Analysis</a>, <a href="https://www.kaggle.com/code/ugenteraan/a-study-on-simple-naive-bayes-classifier/notebook"> Naive Bayes</a>, <a href="https://github.com/Ugenteraan/DFT-and-FFT-NumPy/blob/master/Fourier_Transform.pdf">Fourier Transform</a>, <a href="https://github.com/Ugenteraan/Multilayer-Perceptron-Scratch/blob/master/Neural_Networks.pdf"> Neural Network</a>, and <a href="https://github.com/Ugenteraan/Face-Recognition-Eigenface-Scratch">Eigenface</a>.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://media.licdn.com/dms/document/media/D562DAQEZj2X9pqpzqw/profile-treasury-document-pdf-analyzed/0/1698763800889?e=1699488000&v=beta&t=wb4_usxydj1XMxBpmmkWhRVhZfyWtmoQf5ev9cuN2uc" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download 1st Research Paper
        </a>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://media.licdn.com/dms/document/media/D562DAQHzfZbG1C6mjQ/profile-treasury-document-pdf-analyzed/0/1698763959238?e=1699488000&v=beta&t=oUfZ4dv1GiFB7wBNL-JyF4W3T9yCbnQiW1Nrv8qHBqE" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download 2nd Research Paper
        </a>
      </div>

    </div>
  </div>
</section>
