<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience & Mission</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div>
          Over the course of my adventurous 7-year journey in machine learning and software engineering, I've donned different hats—from a machine learning engineer to senior roles, and even a thrilling stint as a Chief Technology Officer. On top of that, I'm currently having a blast as a machine learning mentor for a fantastic local programming community. There, I get to unleash my teaching prowess, imparting software engineering and machine learning wisdom to bright university students, fresh graduates, and passionate programmers.
        </br>
          My mission? To embark on exhilarating projects that make a tangible positive impact on society. If you're seeking someone with my unique blend of skills and experience, look no further! Feel free to reach out to me through Telegram or connect on LinkedIn provided at the bottom of this page.
        </div>
      </div>
    </div>
  </div>
</section>
